<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TestServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44323/TestService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TestServiceSoap"
                contract="ServiceReference1.TestServiceSoap" name="TestServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>